## Data extraction project
* Perry Huang liwanh2@illinois.edu
* Yiqiu Song yiqius3@illinois.edu

## Milestone 1

**1. Import dataset**

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
# def read_gdrive_csv(gdrive_link):
#     file_id = gdrive_link.split('/d/')[1].split('/')[0]
#     url = f"https://drive.google.com/uc?id={file_id}"
#     return pd.read_csv(url)

# df = read_gdrive_csv("https://drive.google.com/file/d/1KxOyTSfSZDtfE9AyG0K6qy-hU26F6dn4/view?usp=drive_link")
# df
# The file is too large to load here

In [ ]:
!ls "/content/drive/MyDrive/Deep Dive 12"

 Conclusion.pdf
'Deep Dive Final Presentation.pptx'
'Deep Dive Milestone 1 Data extraction.ipynb'
'Deep Dive Milestone 2 Baseline Learning Model'
'Deep Dive Milestone 2 Data Exploration.ipynb'
'Deep Dive Milestone 3 Deep learning (1).ipynb'
'Deep Dive Milsestone 4 Feature Importance.ipynb'
 LICENSE
'Milestone-5 presentation video.mp4'
 ppd
 ppd_data.csv
 README.md

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

csv_path = "/content/drive/MyDrive/Deep Dive 12/ppd_data.csv"
df = pd.read_csv(csv_path, low_memory=False)
df

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

,unique_id,price_paid,deed_date,postcode,property_type,new_build,estate_type,saon,paon,street,locality,town,district,county,transaction_category,linked_data_uri
0,25EA59F9-A161-4D50-E050-A8C0630562D0,455000,10/23/2015,E1 0AE,F,N,L,NaN,338,CABLE STREET,NaN,LONDON,TOWER HAMLETS,GREATER LONDON,A,http://landregistry.data.gov.uk/data/ppi/trans...
1,BA8840F9-5801-45B5-B164-963078664015,378000,8/25/2015,E1 0AE,F,N,L,NaN,362,CABLE STREET,NaN,LONDON,TOWER HAMLETS,GREATER LONDON,A,http://landregistry.data.gov.uk/data/ppi/trans...
2,23B6165D-D01F-FCF4-E050-A8C0620577FA,450000,6/18/2015,E1 0AH,F,N,L,LOWER GROUND AND GROUND FLOOR FLAT,387,CABLE STREET,NaN,LONDON,TOWER HAMLETS,GREATER LONDON,A,http://landregistry.data.gov.uk/data/ppi/trans...
3,25EA59F9-A320-4D50-E050-A8C0630562D0,225000,10/2/2015,E1 0AN,F,N,L,FLAT 10,KNOWLDEN HOUSE,CABLE STREET,NaN,LONDON,TOWER HAMLETS,GREATER LONDON,A,http://landregistry.data.gov.uk/data/ppi/trans...
4,288DCE29-01AE-E510-E050-A8C06205480E,340000,10/30/2015,E1 0AP,F,N,L,FLAT 25,THORNEWILL HOUSE,CABLE STREET,NaN,LONDON,TOWER HAMLETS,GREATER LONDON,A,http://landregistry.data.gov.uk/data/ppi/trans...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
693228,2859C1AD-0CAC-52B4-E063-4804A8C05948,700000,7/30/2024,NaN,O,N,L,FIRST AND SECOND FLOOR FLAT,54,PARMA CRESCENT,NaN,LONDON,WANDSWORTH,GREATER LONDON,B,http://landregistry.data.gov.uk/data/ppi/trans...
693229,38EDC0C3-5FAE-0F63-E063-4704A8C00424,955000,11/21/2024,NaN,F,N,L,NaN,13,PAVELEY DRIVE,NaN,LONDON,WANDSWORTH,GREATER LONDON,A,http://landregistry.data.gov.uk/data/ppi/trans...
693230,237B17FE-EE5D-22AC-E063-4804A8C0EA3A,1730000,3/15/2024,NaN,O,N,L,GARAGE 16,OVERSTRAND MANSIONS,PRINCE OF WALES DRIVE,NaN,LONDON,WANDSWORTH,GREATER LONDON,B,http://landregistry.data.gov.uk/data/ppi/trans...
693231,2D4D7609-F257-BDF9-E063-4804A8C0672F,25000,7/3/2024,NaN,O,N,L,STORAGE LOCKER 5C,CHELSEA BRIDGE WHARF,QUEENSTOWN ROAD,NaN,LONDON,WANDSWORTH,GREATER LONDON,B,http://landregistry.data.gov.uk/data/ppi/trans...
693232,2859C1AC-8F1E-52B4-E063-4804A8C05948,708000,11/8/2024,NaN,F,N,L,FLAT 93,"VALIANT HOUSE, 75",VICARAGE CRESCENT,BATTERSEA,LONDON,WANDSWORTH,GREATER LONDON,A,http://landregistry.data.gov.uk/data/ppi/trans...

**2. Checking the column names**

In [ ]:
df.columns

Index(['unique_id', 'price_paid', 'deed_date', 'postcode', 'property_type',
       'new_build', 'estate_type', 'saon', 'paon', 'street', 'locality',
       'town', 'district', 'county', 'transaction_category',
       'linked_data_uri'],
      dtype='object')

In [ ]:
print(df.columns.tolist())

['unique_id', 'price_paid', 'deed_date', 'postcode', 'property_type', 'new_build', 'estate_type', 'saon', 'paon', 'street', 'locality', 'town', 'district', 'county', 'transaction_category', 'linked_data_uri']

In [ ]:
def clean(name: str) -> str:
    n = name.lower()
    for ch in "():,/":
        n = n.replace(ch, " ")
    return "_".join(n.split())

df = df.rename(columns={c: clean(c) for c in df.columns})


df = df.rename(columns={
    "deed_date": "date",
    "estate_type": "tenure",  # We used "estate type (F freehold, L leasehold)"
})
df

,unique_id,price_paid,date,postcode,property_type,new_build,tenure,saon,paon,street,locality,town,district,county,transaction_category,linked_data_uri
0,25EA59F9-A161-4D50-E050-A8C0630562D0,455000,10/23/2015,E1 0AE,F,N,L,NaN,338,CABLE STREET,NaN,LONDON,TOWER HAMLETS,GREATER LONDON,A,http://landregistry.data.gov.uk/data/ppi/trans...
1,BA8840F9-5801-45B5-B164-963078664015,378000,8/25/2015,E1 0AE,F,N,L,NaN,362,CABLE STREET,NaN,LONDON,TOWER HAMLETS,GREATER LONDON,A,http://landregistry.data.gov.uk/data/ppi/trans...
2,23B6165D-D01F-FCF4-E050-A8C0620577FA,450000,6/18/2015,E1 0AH,F,N,L,LOWER GROUND AND GROUND FLOOR FLAT,387,CABLE STREET,NaN,LONDON,TOWER HAMLETS,GREATER LONDON,A,http://landregistry.data.gov.uk/data/ppi/trans...
3,25EA59F9-A320-4D50-E050-A8C0630562D0,225000,10/2/2015,E1 0AN,F,N,L,FLAT 10,KNOWLDEN HOUSE,CABLE STREET,NaN,LONDON,TOWER HAMLETS,GREATER LONDON,A,http://landregistry.data.gov.uk/data/ppi/trans...
4,288DCE29-01AE-E510-E050-A8C06205480E,340000,10/30/2015,E1 0AP,F,N,L,FLAT 25,THORNEWILL HOUSE,CABLE STREET,NaN,LONDON,TOWER HAMLETS,GREATER LONDON,A,http://landregistry.data.gov.uk/data/ppi/trans...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
693228,2859C1AD-0CAC-52B4-E063-4804A8C05948,700000,7/30/2024,NaN,O,N,L,FIRST AND SECOND FLOOR FLAT,54,PARMA CRESCENT,NaN,LONDON,WANDSWORTH,GREATER LONDON,B,http://landregistry.data.gov.uk/data/ppi/trans...
693229,38EDC0C3-5FAE-0F63-E063-4704A8C00424,955000,11/21/2024,NaN,F,N,L,NaN,13,PAVELEY DRIVE,NaN,LONDON,WANDSWORTH,GREATER LONDON,A,http://landregistry.data.gov.uk/data/ppi/trans...
693230,237B17FE-EE5D-22AC-E063-4804A8C0EA3A,1730000,3/15/2024,NaN,O,N,L,GARAGE 16,OVERSTRAND MANSIONS,PRINCE OF WALES DRIVE,NaN,LONDON,WANDSWORTH,GREATER LONDON,B,http://landregistry.data.gov.uk/data/ppi/trans...
693231,2D4D7609-F257-BDF9-E063-4804A8C0672F,25000,7/3/2024,NaN,O,N,L,STORAGE LOCKER 5C,CHELSEA BRIDGE WHARF,QUEENSTOWN ROAD,NaN,LONDON,WANDSWORTH,GREATER LONDON,B,http://landregistry.data.gov.uk/data/ppi/trans...
693232,2859C1AC-8F1E-52B4-E063-4804A8C05948,708000,11/8/2024,NaN,F,N,L,FLAT 93,"VALIANT HOUSE, 75",VICARAGE CRESCENT,BATTERSEA,LONDON,WANDSWORTH,GREATER LONDON,A,http://landregistry.data.gov.uk/data/ppi/trans...

**3. Adding timestamps**

In [ ]:
df["date"] = pd.to_datetime(df["date"], dayfirst=True, errors="coerce")

# We want to check the result of timestamps
print(df["date"].dtype)
print(df["date"].head())

datetime64[ns]
0   2015-10-23
1   2015-08-25
2   2015-06-18
3   2015-10-02
4   2015-10-30
Name: date, dtype: datetime64[ns]

/tmp/ipython-input-2053783298.py:1: UserWarning: Parsing dates in %m/%d/%Y format when dayfirst=True was specified. Pass `dayfirst=False` or specify a format to silence this warning.
  df["date"] = pd.to_datetime(df["date"], dayfirst=True, errors="coerce")

**4. Data debug**

In [ ]:
import re

In [ ]:
issues = {}

# Check if there is numerical issue in house price
if "price_paid" in df:
    issues["price_negative"] = int((df["price_paid"] < 0).sum())
    issues["price_zero"]     = int((df["price_paid"] == 0).sum())
    print("\nprice_paid summary:")
    print(df["price_paid"].describe(percentiles=[.01,.05,.5,.95,.99]))

# Check if there is issue with the date
if "date" in df:
    min_ok, max_ok = pd.Timestamp("1995-01-01"), pd.Timestamp.today()
    issues["date_too_early"] = int((df["date"] < min_ok).sum())
    issues["date_in_future"] = int((df["date"] > max_ok).sum())
    print("\nDate range:", df["date"].min(), "->", df["date"].max())

price_paid summary:
count    6.932330e+05
mean     9.633831e+05
std      4.405760e+06
min      1.000000e+02
1%       2.177664e+04
5%       1.944458e+05
50%      5.286500e+05
95%      2.135000e+06
99%      7.000000e+06
max      5.943000e+08
Name: price_paid, dtype: float64

Date range: 2015-01-01 00:00:00 -> 2025-01-01 00:00:00

In [ ]:
# Check if there is issue with these categorical variables
allowed = {
    "property_type": {"D","S","T","F","O"},
    "new_build": {"Y","N"},
    "tenure": {"F","L"},
    "transaction_category": {"A","B"},
}
for col, ok in allowed.items():
    if col in df:
        bad = ~df[col].isin(list(ok)) & df[col].notna()
        issues[f"{col}_invalid"] = int(bad.sum())

In [ ]:
# Check if there is issue in postcode (British postcode format)
if "postcode" in df:
    pc_pattern = re.compile(r"^[A-Z]{1,2}\d[A-Z\d]?\s*\d[A-Z]{2}$")
    bad_pc = (df["postcode"].dropna()
                            .str.upper()
                            .str.fullmatch(pc_pattern)
                            .fillna(True)
                            .eq(False)
                            .sum())
    issues["postcode_invalid"] = int(bad_pc)

print("\n issue counts:")

 issue counts:

Convert selected columns to string dtype and strip whitespace

In [ ]:
for c in ['saon','paon','street','town','district','county','postcode',
          'property_type','new_build','tenure','transaction_category']:
    if c in df.columns:
        df[c] = df[c].astype('string').str.strip()

In [ ]:
df['year'] = df['date'].dt.year
df['month'] = df['date'].dt.month
df['month_sin'] = np.sin(2*np.pi*(df['month']/12.0))
df['month_cos'] = np.cos(2*np.pi*(df['month']/12.0))

In [ ]:

def fix_postcode(pc):
    if pd.isna(pc): return pc
    s = re.sub(r'\s+', '', pc.upper())
    if len(s) > 3: s = s[:-3] + ' ' + s[-3:]
    return s
df['postcode'] = df['postcode'].apply(fix_postcode)
df['postcode_outward'] = df['postcode'].astype('string').str.split().str[0]
df['postcode_sector']  = (
    df['postcode'].astype('string')
      .str.replace(r'\s+', ' ', regex=True).str.strip()
      .str.replace(' ', '', regex=False)
      .str.replace(r'([A-Z]\d?[A-Z]?)$', r' \1', regex=True)
)
# sector = outward + first digit of inward (e.g., E1 0AE -> E1 0)
df['postcode_sector'] = df['postcode'].astype('string').str.extract(r'^([A-Z]{1,2}\d[A-Z0-9]?)\s?\d')[0]

In [ ]:
dataset = df.copy()
dataset.head()

,unique_id,price_paid,date,postcode,property_type,new_build,tenure,saon,paon,street,...,district,county,transaction_category,linked_data_uri,year,month,month_sin,month_cos,postcode_outward,postcode_sector
0,25EA59F9-A161-4D50-E050-A8C0630562D0,455000,2015-10-23,E1 0AE,F,N,L,<NA>,338,CABLE STREET,...,TOWER HAMLETS,GREATER LONDON,A,http://landregistry.data.gov.uk/data/ppi/trans...,2015,10,-8.660254e-01,0.5,E1,E1
1,BA8840F9-5801-45B5-B164-963078664015,378000,2015-08-25,E1 0AE,F,N,L,<NA>,362,CABLE STREET,...,TOWER HAMLETS,GREATER LONDON,A,http://landregistry.data.gov.uk/data/ppi/trans...,2015,8,-8.660254e-01,-0.5,E1,E1
2,23B6165D-D01F-FCF4-E050-A8C0620577FA,450000,2015-06-18,E1 0AH,F,N,L,LOWER GROUND AND GROUND FLOOR FLAT,387,CABLE STREET,...,TOWER HAMLETS,GREATER LONDON,A,http://landregistry.data.gov.uk/data/ppi/trans...,2015,6,1.224647e-16,-1.0,E1,E1
3,25EA59F9-A320-4D50-E050-A8C0630562D0,225000,2015-10-02,E1 0AN,F,N,L,FLAT 10,KNOWLDEN HOUSE,CABLE STREET,...,TOWER HAMLETS,GREATER LONDON,A,http://landregistry.data.gov.uk/data/ppi/trans...,2015,10,-8.660254e-01,0.5,E1,E1
4,288DCE29-01AE-E510-E050-A8C06205480E,340000,2015-10-30,E1 0AP,F,N,L,FLAT 25,THORNEWILL HOUSE,CABLE STREET,...,TOWER HAMLETS,GREATER LONDON,A,http://landregistry.data.gov.uk/data/ppi/trans...,2015,10,-8.660254e-01,0.5,E1,E1

In [ ]:
na_table = (
    dataset.isna().sum().to_frame("Missing Count")
    .assign(Total=len(dataset))
    .assign(Missing_Pct=lambda x: (x["Missing Count"] / x["Total"] * 100).round(2))
    .sort_values("Missing_Pct", ascending=False)
)
na_table

                      Missing Count   Total  Missing_Pct
locality                     654196  693233        94.37
saon                         349680  693233        50.44
postcode_outward               3032  693233         0.44
postcode_sector                3032  693233         0.44
postcode                       3032  693233         0.44
street                          122  693233         0.02
new_build                         0  693233         0.00
property_type                     0  693233         0.00
date                              0  693233         0.00
price_paid                        0  693233         0.00
unique_id                         0  693233         0.00
town                              0  693233         0.00
paon                              0  693233         0.00
tenure                            0  693233         0.00
county                            0  693233         0.00
district                          0  693233         0.00
transaction_category              0  693233         0.00
linked_data_uri                   0  693233         0.00
month                             0  693233         0.00
year                              0  693233         0.00
month_cos                         0  693233         0.00
month_sin                         0  693233         0.00

In [ ]:
dataset = dataset[dataset['county'] == 'GREATER LONDON']

display(dataset['county'].value_counts())

county
GREATER LONDON    693056
Name: count, dtype: Int64

# Merge EPC structural characteristics (avg area, avg rooms),
# sourced from the official UK EPC Register (Ministry of Housing).
# Aggregated by postcode and joined to the transaction dataset.

In [ ]:
# 1. Set file path
epc_path = "/content/drive/MyDrive/Deep Dive 12/ppd/london_epc_filtered.csv"

# 2. Load and clean EPC data
print("Loading area features...")
df_epc = pd.read_csv(epc_path, usecols=['POSTCODE', 'TOTAL_FLOOR_AREA', 'NUMBER_HABITABLE_ROOMS'])
df_epc['join_key'] = df_epc['POSTCODE'].str.replace(' ', '').str.upper()

# 3. Aggregate and deduplicate by postcode
epc_grouped = df_epc.groupby('join_key').agg({
    'TOTAL_FLOOR_AREA': 'mean',
    'NUMBER_HABITABLE_ROOMS': 'mean'
}).reset_index()
epc_grouped.columns = ['join_key', 'avg_area', 'avg_rooms']

# 4. Prepare the main dataset (ensure your main table is named 'dataset')
if 'dataset' in locals():
    dataset['join_key'] = dataset['postcode'].str.replace(' ', '').str.upper()

    # 5. Merge EPC features into the main dataset
    dataset = pd.merge(dataset, epc_grouped, on='join_key', how='left')

    # 6. Fill missing values using the mean of the merged dataset
    dataset['avg_area'] = dataset['avg_area'].fillna(dataset['avg_area'].mean())
    dataset['avg_rooms'] = dataset['avg_rooms'].fillna(dataset['avg_rooms'].mean())

    print("Feature engineering completed!")
    print("Current dataset shape:", dataset.shape)
    print("Preview of area features:")
    print(dataset[['postcode', 'avg_area', 'avg_rooms']].head())

else:
    print("Error: variable 'dataset' does not exist. Please load your PKL file first!")

Loading area features...
Feature engineering completed!
Current dataset shape: (693056, 25)
Preview of area features:
  postcode   avg_area  avg_rooms
0   E1 0AE  70.263529   3.039216
1   E1 0AE  70.263529   3.039216
2   E1 0AH  66.500000   3.000000
3   E1 0AN  42.964667   1.800000
4   E1 0AP  48.392424   2.000000

#We merge property-level transactions with macroeconomic indicators — including population, earnings, births, inactivity rates, and affordability ratios — to enrich the dataset with borough-level fundamentals from London Datastore

In [ ]:
import os

# Ensure drive_path is defined and points to your macro data directory
drive_path = "/content/drive/MyDrive/Deep Dive 12/ppd/"

# Names of the 33 London boroughs (used for cleaning and filtering)
LONDON_BOROUGH_NAMES = [
    'City of London', 'Westminster', 'Kensington and Chelsea', 'Hammersmith and Fulham',
    'Wandsworth', 'Lambeth', 'Southwark', 'Tower Hamlets', 'Hackney', 'Islington',
    'Camden', 'Brent', 'Ealing', 'Hounslow', 'Richmond upon Thames', 'Kingston upon Thames',
    'Merton', 'Sutton', 'Croydon', 'Bromley', 'Lewisham', 'Greenwich', 'Bexley',
    'Havering', 'Barking and Dagenham', 'Barnet', 'Redbridge', 'Newham', 'Enfield',
    'Haringey', 'Harrow', 'Hillingdon', 'Waltham Forest'
]

def clean_and_melt_csv(file_path: str, skip_rows: int, measure_name: str, lad_prefix_pattern: str) -> pd.DataFrame:
    """
    Reads a CSV file, skips descriptive header rows, cleans Local Authority names,
    and converts the data into long format.

    Args:
        file_path (str): Path to the CSV file.
        skip_rows (int): Number of rows to skip before the header.
        measure_name (str): Name of the metric to store in the output column.
        lad_prefix_pattern (str): Regex pattern to match and remove LAD prefixes.

    Returns:
        pd.DataFrame: Long-format DataFrame (Area, Year, Measure).
    """
    # 1. Load CSV, skipping descriptive header rows
    df = pd.read_csv(file_path, skiprows=skip_rows, header=0, low_memory=False)

    # 2. Rename the first column to Area
    df.rename(columns={df.columns[0]: 'Area'}, inplace=True)

    # 3. Filter rows containing LAD prefixes
    filtered_df = df[df['Area'].astype(str).str.contains(lad_prefix_pattern, case=False, na=False)].copy()

    # Remove prefixes and clean borough names
    filtered_df['Area'] = (
        filtered_df['Area']
        .astype(str)
        .str.replace(lad_prefix_pattern, '', regex=True)
        .str.strip()
    )

    # 4. Identify year columns and melt to long format
    year_cols = [col for col in filtered_df.columns if str(col).isdigit() and 2015 <= int(col) <= 2024]

    melted_df = filtered_df.melt(
        id_vars=['Area'],
        value_vars=year_cols,
        var_name='Year',
        value_name=measure_name
    )

    # 5. Clean value types
    melted_df[measure_name] = pd.to_numeric(
        melted_df[measure_name].astype(str).str.replace(r'[#,-,[\[x\]]', '', regex=True),
        errors='coerce'
    )
    melted_df['Year'] = pd.to_numeric(melted_df['Year'], errors='coerce').astype('Int64')

    melted_df = melted_df.dropna(subset=[measure_name]).reset_index(drop=True)

    # Aggregate duplicates if necessary
    if not melted_df[['Area', 'Year']].duplicated().any():
        return melted_df
    else:
        return melted_df.groupby(['Area', 'Year'], as_index=False)[measure_name].mean()


def build_earn_long(path):
    """Build long-format earnings data."""
    xls = pd.ExcelFile(path)
    df = pd.read_excel(xls, sheet_name="FT workers annual Median")
    df = df.dropna(subset=[df.columns[0]])

    df = df.rename(columns={df.columns[0]: "Code", df.columns[1]: "Area"})

    # Standardize area names and filter to London boroughs
    df['Area'] = df['Area'].astype(str).str.replace('City OF LONDON', 'City of London').str.strip()
    df = df[df['Area'].isin(LONDON_BOROUGH_NAMES)].copy()

    earn_long = df.melt(
        id_vars=["Code", "Area"],
        var_name="Year",
        value_name="Median_Annual_Earnings"
    )

    earn_long["Year"] = earn_long["Year"].astype(int)
    earn_long["Median_Annual_Earnings"] = pd.to_numeric(
        earn_long["Median_Annual_Earnings"].astype(str).str.replace(r'[#,-,[\[x\]]', '', regex=True),
        errors="coerce"
    )
    earn_long = earn_long.dropna(subset=["Median_Annual_Earnings"])

    if not earn_long[['Area', 'Year']].duplicated().any():
        return earn_long
    else:
        return earn_long.groupby(['Area', 'Year'], as_index=False)["Median_Annual_Earnings"].mean()


def build_inact_long(path):
    """Build long-format economic inactivity data."""
    raw = pd.read_excel(path, sheet_name="All persons", header=None)

    header_rows = raw.iloc[0:2]

    new_columns = []
    current_period = None

    for i in range(len(header_rows.columns)):
        if i < 2:
            new_columns.append(header_rows.iloc[1, i].lower())
        else:
            if pd.notna(header_rows.iloc[0, i]):
                current_period = header_rows.iloc[0, i]
            column_type = header_rows.iloc[1, i]
            new_columns.append((current_period, column_type))

    data = raw.iloc[3:].copy()
    data.columns = new_columns

    data = data.dropna(subset=['code'])
    data = data.rename(columns={'area': 'Area'})
    data['Area'] = data['Area'].astype(str).str.replace('City OF LONDON', 'City of London').str.strip()
    data = data[data['Area'].isin(LONDON_BOROUGH_NAMES)].copy()

    percent_cols = [col for col in data.columns if isinstance(col, tuple) and col[1] == "percent"]

    records = []

    for (period, type_name) in percent_cols:
        m = re.search(r"\d{4}", str(period))
        if not m:
            continue
        year = int(m.group())

        tmp = data[["code", "Area", (period, type_name)]].copy()
        tmp.columns = ["code", "Area", "Inactivity_Rate_Percent"]
        tmp["Year"] = year
        records.append(tmp)

    inact_long = pd.concat(records, ignore_index=True)

    inact_long["Inactivity_Rate_Percent"] = pd.to_numeric(inact_long["Inactivity_Rate_Percent"], errors="coerce")
    inact_long["Year"] = inact_long["Year"].astype(int)
    inact_long = inact_long.dropna(subset=["Inactivity_Rate_Percent"]).reset_index(drop=True)

    if inact_long[["Area", "Year"]].duplicated().any():
        inact_long = (
            inact_long.groupby(["Area", "Year"], as_index=False)["Inactivity_Rate_Percent"].mean()
        )

    return inact_long


def build_hp_long(path, value_name):
    """Build long-format house price to earnings ratio data."""
    xls = pd.ExcelFile(path)
    df = pd.read_excel(xls, sheet_name="Median Earnings to Prices ratio")
    df = df.dropna(subset=[df.columns[0]])

    original_year_cols = [col for col in df.columns if isinstance(col, (int, float))]

    df = df.rename(columns={df.columns[0]: "Code", df.columns[2]: "Area"})

    df['Area'] = df['Area'].astype(str).str.replace('City OF LONDON', 'City of London').str.strip()
    df = df[df['Area'].isin(LONDON_BOROUGH_NAMES)].copy()

    hp_long = df.melt(
        id_vars=["Code", "Area"],
        value_vars=original_year_cols,
        var_name="Year",
        value_name=value_name
    )

    hp_long["Year"] = hp_long["Year"].astype(float).astype(int)
    hp_long[value_name] = pd.to_numeric(
        hp_long[value_name].astype(str).str.replace(r'[#,-,[\[x\]]', '', regex=True),
        errors="coerce"
    )

    hp_long = hp_long.dropna(subset=[value_name])

    if not hp_long[['Area', 'Year']].duplicated().any():
        return hp_long
    else:
        return hp_long.groupby(['Area', 'Year'], as_index=False)[value_name].mean()


# -------------------- File Paths --------------------
pop_path = os.path.join(drive_path, 'Population estimates.csv')
birth_path = os.path.join(drive_path, 'Live births in England and Wales.csv')
earn_xls_path = os.path.join(drive_path, "earnings-workplace-borough.xls")
inact_xls_path = os.path.join(drive_path, "economic-inactivity-by-gender-borough.xlsx")
hp_res_xls_path = os.path.join(drive_path, "ratio-house-price-earnings-residence-based.xlsx")
hp_work_xls_path = os.path.join(drive_path, "ratio-house-price-earnings-workplace-based.xlsx")

LAD_PREFIX = r'(lacu2023|ladu2023|ualad19|ualad14|ladu):'

# -------------------- 2. Load and Convert Data to Long Format --------------------

pop_df = clean_and_melt_csv(pop_path, skip_rows=6, measure_name='Population', lad_prefix_pattern=LAD_PREFIX)
birth_df = clean_and_melt_csv(birth_path, skip_rows=6, measure_name='Live_Births', lad_prefix_pattern=LAD_PREFIX)
earn_long = build_earn_long(earn_xls_path)
inact_long = build_inact_long(inact_xls_path)

print("✅ inact_long shape:", inact_long.shape)
print(inact_long.head())
print(inact_long.groupby("Area")["Year"].agg(["min", "max"]).head(10))

hp_res_long = build_hp_long(hp_res_xls_path, "HP_Residence_Ratio")
hp_work_long = build_hp_long(hp_work_xls_path, "HP_Workplace_Ratio")

# -------------------- 3. Merge All Data --------------------

final_merged_df = (
    pop_df
    .merge(birth_df, on=['Area', 'Year'], how='outer')
    .merge(earn_long, on=['Area', 'Year'], how='left')
    .merge(inact_long, on=['Area', 'Year'], how='left')
    .merge(hp_res_long, on=['Area', 'Year'], how='left')
    .merge(hp_work_long, on=['Area', 'Year'], how='left')
)

# Filter London boroughs and remove redundant Code columns
final_merged_df = final_merged_df[final_merged_df['Area'].isin(LONDON_BOROUGH_NAMES)].copy()
final_merged_df = final_merged_df.drop(columns=[col for col in final_merged_df.columns if "Code" in col and col != "postcode"], errors="ignore")

final_merged_df = final_merged_df.sort_values(['Area', 'Year']).reset_index(drop=True)

print("--- Final merged dataset (first 20 rows sorted by Area and Year) ---")
print(final_merged_df.head(20).to_markdown(index=False))

/tmp/ipython-input-3545168678.py:37: UserWarning: This pattern is interpreted as a regular expression, and has match groups. To actually get the groups, use str.extract.
  filtered_df = df[df['Area'].astype(str).str.contains(lad_prefix_pattern, case=False, na=False)].copy()
/tmp/ipython-input-3545168678.py:37: UserWarning: This pattern is interpreted as a regular expression, and has match groups. To actually get the groups, use str.extract.
  filtered_df = df[df['Area'].astype(str).str.contains(lad_prefix_pattern, case=False, na=False)].copy()

✅ inact_long shape: (677, 4)
        code                  Area  Inactivity_Rate_Percent  Year
0  E09000002  Barking and Dagenham                     31.8  2004
1  E09000003                Barnet                     24.7  2004
2  E09000004                Bexley                     21.0  2004
3  E09000005                 Brent                     30.1  2004
4  E09000006               Bromley                     19.4  2004
                       min   max
Area
Barking and Dagenham  2004  2024
Barnet                2004  2024
Bexley                2004  2024
Brent                 2004  2024
Bromley               2004  2024
Camden                2004  2024
City of London        2005  2017
Croydon               2004  2024
Ealing                2004  2024
Enfield               2004  2024
--- Final merged dataset (first 20 rows sorted by Area and Year) ---
| Area                 |   Year |   Population |   Live_Births |   Median_Annual_Earnings | code      |   Inactivity_Rate_Percent |   HP_Residence_Ratio |   HP_Workplace_Ratio |
|:---------------------|-------:|-------------:|--------------:|-------------------------:|:----------|--------------------------:|---------------------:|---------------------:|
| Barking and Dagenham |   2015 |       206450 |       987.87  |                    33018 | E09000002 |                      26   |                 8.24 |                 7.12 |
| Barking and Dagenham |   2016 |       211047 |      1018.83  |                    30994 | E09000002 |                      27.5 |                 9.89 |                 8.94 |
| Barking and Dagenham |   2017 |       214017 |       992.08  |                    28553 | E09000002 |                      24.7 |                10    |                10.58 |
| Barking and Dagenham |   2018 |       216298 |       948.253 |                    29995 | E09000002 |                      27.4 |                10.4  |                10.17 |
| Barking and Dagenham |   2019 |       218828 |       915.602 |                    28739 | E09000002 |                      25.7 |                10.74 |                10.98 |
| Barking and Dagenham |   2020 |       219227 |       872.587 |                      nan | E09000002 |                      25.8 |                 9.74 |                 9.86 |
| Barking and Dagenham |   2021 |       218714 |       833.997 |                    32482 | E09000002 |                      31.6 |                10.25 |                10.31 |
| Barking and Dagenham |   2022 |       220392 |       860.74  |                    31559 | E09000002 |                      24.8 |                10.76 |                11.41 |
| Barking and Dagenham |   2023 |       226301 |       872.153 |                    34341 | E09000002 |                      25.2 |                10.89 |                11.01 |
| Barking and Dagenham |   2024 |       232747 |       926.597 |                    35777 | E09000002 |                      27.8 |                 9.52 |                10.12 |
| Barnet               |   2015 |       377826 |      1334.78  |                    30900 | E09000003 |                      24.7 |                13.3  |                14.24 |
| Barnet               |   2016 |       382925 |      1344.68  |                    32623 | E09000003 |                      27.5 |                14.05 |                14.41 |
| Barnet               |   2017 |       384117 |      1316.6   |                    32143 | E09000003 |                      23.1 |                13.7  |                15.91 |
| Barnet               |   2018 |       387574 |      1296.46  |                    29927 | E09000003 |                      24.2 |                14.45 |                17.21 |
| Barnet               |   2019 |       390590 |      1261.35  |                    31637 | E09000003 |                      21.7 |                14.19 |                16.28 |
| Barnet               |   2020 |       391046 |      1206.14  |                    34022 | E09000003 |                      20.9 |                15.17 |                16.24 |
| Barnet               |   2021 |       388955 |      1212.72  |                    34800 | E09000003 |                      23.9 |                16.01 |                16.44 |
| Barnet               |   2022 |       390371 |      1172.52  |                    34021 | E09000003 |                      24.3 |                15.68 |                17.34 |
| Barnet               |   2023 |       398191 |      1157.51  |                    38457 | E09000003 |                      26.4 |                13.42 |                14.59 |
| Barnet               |   2024 |       405050 |      1163.11  |                    35959 | E09000003 |                      22.9 |                13.34 |                16.69 |

In [ ]:
final_merged_df['Area'].value_counts()

Area
Barking and Dagenham      10
Barnet                    10
Bexley                    10
Brent                     10
Bromley                   10
Camden                    10
City of London            10
Croydon                   10
Ealing                    10
Enfield                   10
Greenwich                 10
Hackney                   10
Hammersmith and Fulham    10
Haringey                  10
Harrow                    10
Havering                  10
Hillingdon                10
Hounslow                  10
Islington                 10
Kensington and Chelsea    10
Kingston upon Thames      10
Lambeth                   10
Lewisham                  10
Merton                    10
Newham                    10
Redbridge                 10
Richmond upon Thames      10
Southwark                 10
Sutton                    10
Tower Hamlets             10
Waltham Forest            10
Wandsworth                10
Westminster               10
Name: count, dtype: int64

In [ ]:
final_merged_df.isna().sum()

Area                        0
Year                        0
Population                  0
Live_Births                 0
Median_Annual_Earnings     10
code                        8
Inactivity_Rate_Percent     8
HP_Residence_Ratio          7
HP_Workplace_Ratio          0
dtype: int64

In [ ]:
(final_merged_df.isna().mean().sort_values(ascending=False) * 100).round(2).to_frame("Missing_%")

                         Missing_%
Median_Annual_Earnings        3.03
Inactivity_Rate_Percent       2.42
code                          2.42
HP_Residence_Ratio            2.12
Area                          0.00
Live_Births                   0.00
Population                    0.00
Year                          0.00
HP_Workplace_Ratio            0.00

In [ ]:
# Sort by Area and Year to ensure proper chronological order
final_merged_df = final_merged_df.sort_values(["Area", "Year"])

# Columns to interpolate
interp_cols = [
    "Inactivity_Rate_Percent",
    "Median_Annual_Earnings",
    "HP_Residence_Ratio",
]

# Ensure selected columns are numeric
final_merged_df[interp_cols] = final_merged_df[interp_cols].apply(
    pd.to_numeric, errors="coerce"
)

# Perform linear interpolation within each Area group
# transform() preserves the original row order and index
final_merged_df[interp_cols] = (
    final_merged_df
    .groupby("Area")[interp_cols]
    .transform(lambda g: g.interpolate(method="linear").bfill().ffill())
)

# Check for any remaining NaN values
print(final_merged_df[interp_cols].isna().sum())

Inactivity_Rate_Percent    0
Median_Annual_Earnings     0
HP_Residence_Ratio         0
dtype: int64

In [ ]:
# Strip extra whitespace and standardize the Area field
final_merged_df['Area'] = final_merged_df['Area'].astype(str).str.strip()

# Replace inconsistent borough naming
name_fix_map = {
    'Westminster': 'City of Westminster',
}

final_merged_df['Area'] = final_merged_df['Area'].replace(name_fix_map)

# Check whether any form of "Westminster" still exists
print(
    final_merged_df[
        final_merged_df['Area'].str.contains('Westminster', case=False)
    ]['Area'].unique()
)

['City of Westminster']

In [ ]:
# Extract the year from the date column
dataset['Year'] = pd.to_datetime(dataset['date']).dt.year

# Create an uppercase, standardized district key
dataset['district_key'] = (
    dataset['district']
    .astype(str)
    .str.strip()
    .str.upper()
)

In [ ]:
macro = final_merged_df.copy()
macro['district_key'] = macro['Area'].astype(str).str.upper()

In [ ]:
macro_cols = [
    'district_key', 'Year',
    'Population', 'Live_Births',
    'Median_Annual_Earnings',
    'Inactivity_Rate_Percent',
    'HP_Residence_Ratio',
    'HP_Workplace_Ratio'
]

macro_small = macro[macro_cols]

In [ ]:
# Make a copy of the merged macro dataset
macro = final_merged_df.copy()

# Standardize Area names by creating an uppercase, trimmed key
macro['area_key'] = (
    macro['Area']
    .astype(str)
    .str.strip()
    .str.upper()
)

# Year already exists in the dataset, so we can use it directly
macro_key_cols = [
    'area_key', 'Year',
    'Population', 'Live_Births',
    'Median_Annual_Earnings',
    'Inactivity_Rate_Percent',
    'HP_Residence_Ratio', 'HP_Workplace_Ratio'
]

# Select the reduced macro dataset (only essential variables)
macro_small = macro[macro_key_cols]

In [ ]:
dataset_macro = dataset.merge(
    macro_small,
    left_on=['district_key', 'Year'],
    right_on=['area_key', 'Year'],
    how='left'
)

In [ ]:
print(dataset_macro[['Population','Live_Births','Median_Annual_Earnings',
                     'Inactivity_Rate_Percent','HP_Residence_Ratio','HP_Workplace_Ratio']].isna().mean())

Population                 0.000001
Live_Births                0.000001
Median_Annual_Earnings     0.000001
Inactivity_Rate_Percent    0.000001
HP_Residence_Ratio         0.000001
HP_Workplace_Ratio         0.000001
dtype: float64

In [ ]:
dataset_macro[
    dataset_macro[['Population','Live_Births','Median_Annual_Earnings',
                   'Inactivity_Rate_Percent','HP_Residence_Ratio','HP_Workplace_Ratio']].isna().any(axis=1)
].head()

,unique_id,price_paid,date,postcode,property_type,new_build,tenure,saon,paon,street,...,avg_rooms,Year,district_key,area_key,Population,Live_Births,Median_Annual_Earnings,Inactivity_Rate_Percent,HP_Residence_Ratio,HP_Workplace_Ratio
678932,2D4D7608-8BA8-BDF9-E063-4804A8C0672F,1760000,2025-01-01,SW18 5PR,T,N,F,<NA>,66,COMBEMARTIN ROAD,...,6.821429,2025,WANDSWORTH,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
macro_cols = [
    'Population', 'Live_Births', 'Median_Annual_Earnings',
    'Inactivity_Rate_Percent', 'HP_Residence_Ratio', 'HP_Workplace_Ratio'
]

dataset_macro = dataset_macro.dropna(subset=macro_cols).reset_index(drop=True)

In [ ]:
print(dataset_macro[['Population','Live_Births','Median_Annual_Earnings',
                     'Inactivity_Rate_Percent','HP_Residence_Ratio','HP_Workplace_Ratio']].isna().mean())

Population                 0.0
Live_Births                0.0
Median_Annual_Earnings     0.0
Inactivity_Rate_Percent    0.0
HP_Residence_Ratio         0.0
HP_Workplace_Ratio         0.0
dtype: float64

**5. Pickle the data**

In [ ]:
from pathlib import Path

In [ ]:
Path("data").mkdir(exist_ok=True)

df.to_pickle("data/ppd_clean.pkl")
df.to_pickle("data/ppd_clean.pkl.gz", compression="gzip")

In [ ]:
p = Path("data/ppd_clean.pkl")
p

PosixPath('data/ppd_clean.pkl')

In [ ]:
# # Save .pkl to Drive (This has been done)
# from pathlib import Path

# save_dir = Path('/content/drive/MyDrive/Deep Dive 12/ppd')
# save_dir.mkdir(parents=True, exist_ok=True)

# pickle_path = save_dir / 'ppd_clean.pkl.gz'     # compressed pickle
# df.to_pickle(pickle_path, compression='gzip')

In [ ]:
save_path = Path("/content/drive/MyDrive/Deep Dive 12/ppd/final_dataset.pkl.gz")
save_path.parent.mkdir(parents=True, exist_ok=True)

dataset_macro.to_pickle(save_path, compression='gzip')

print("Saved to:", save_path)

Saved to: /content/drive/MyDrive/Deep Dive 12/ppd/final_dataset.pkl.gz